import * as React from 'react';
import styled from 'styled-components/native';

const {{{componentName}}} = () => (
    <Container>
        <Name>{{{componentName}}}</Name>
    </Container>
);

const Container = styled.View``;
const Name = styled.Text``;

export default {{{componentName}}};